*{
    margin: 0;
    padding: 0;
}
.portfolio-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
header{
    background-color: #FFF8F3;
}
nav{
    width: 71%;
    max-width: 1249;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
    padding-left: 230px;
}
nav .logo{
    font-size: 45;
    font-weight: 800;

}

nav h2 span{
    color: #FD6E0A;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav li a{
    text-decoration: none;
    margin: 51px;
    font-size: 20;
}

.btn{
    border: none;
    padding: 18px 36px;
    font-size: 20;
    font-weight: bold;
    background-color: #FD6E0A;
    border-radius: 3px;
    color: white;

}
