*{
    margin: 0;
    padding: 0;
}


/* shared style */
.portfolio-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.logo{
    font-size: 45px;
    font-weight: 800;
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

hr{
    color: #D1D1D1;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 558px;
}



/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 48px;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left 23px top 28px, right bottom ;
    

}


nav{
    width: 71%;
    max-width: 1140px;
    /* border: 2px solid black; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

}
nav .menu{
    display:flex;
    /* justify-content: space-between; */
    list-style-type: none;
    gap: 51px;
    align-items: center;

}
nav .menu a{
    
    font-size: 20px;
    color: #474747;
    /* justify-content: center; */
    text-decoration: none;
}


#banner{
    /* border: 1px solid black; */
    margin: 46px 38px 3px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner-content{
    max-width: 585px;
}
.banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;

}
.banner-content h1{
    color: black;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;

}
.banner-content p{
    color: #474747;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 30px;
}
.banner-image{
    max-width: 584px;
    vertical-align: middle;
}
#about{
    margin: 130px auto;
    max-width: 1140px;
    /* padding: 130px 156px; */
    /* border: 2px solid black; */
    
    background-color: #FFF8F3;
    width: 1140px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#about .about-me{
    text-align: center;
    max-width: 827px;
    padding: 131px 156px;

}

#about .about-me h4{
    font-size: 35px;
    font-weight: 600;
    color: #181818;
    margin-bottom: 30px;
}

#about .about-me p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    
}

#about .about-bar{
    max-width: 782px auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#about .about-name h6{
    font-size: 20px;
    color: #474747;

}
#about .about-email h6{
    font-size: 20px;
    color: #474747;

}
#about .about-birth h6{
    font-size: 20px;
    color: #474747;
}
#about .about-location h6{
    font-size: 20px;
    color: #474747;

}

#skill{
    text-align: center;
}

#skill .skill-heading h2{
    font-size: 35px;
    font-weight: 600;
    color: #181818;
    margin-bottom: 30px;
}
#skill .skill-heading p{
    max-width: 827px;
    margin: 0 auto 50px auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}
#skill .card-container{
    display: flex;
    gap: 24px;
    margin: 0 auto;
    max-width: 1107px;
}
#skill .card-container .card{
    max-width: 267px;
    /* border: 1px solid black; */
    box-shadow: 0 6px 50px 0px #00000044;
    margin-bottom: 130px;

}

#skill .card-container .card img{
    margin: 30px 193px 30px 30px;
}

#skill .card-container .card h4{
    /* 20 bold auto 181818 */
    font-size: 20px;
    font-weight: 600;
    color: #181818;
    padding-left: 30px;
    /* border: 1px solid black; */
    /* text-align: left; */
    text-align: left;
    margin-bottom: 20px;
}

#skill .card-container .card p{
    max-width: 201px;
    margin: 20px 33px 30px 33px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
    text-align: left;
}

.section-heading{
    /* border: 1px solid red; */
    /* padding-left: 572px; */
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #181818;
    margin-bottom: 113px;
}

#eduex{
    display: flex;
    gap: 71px;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1093px;
    margin: 0 auto;
    
}

#eduex .education{
    max-width: 511px;
    
}

#eduex .education .edu{
    max-width: 511px;
    max-height: 175px;
    margin-bottom: 30px;
}

#eduex .education h3{
    font-size: 30px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 30px;
}

#eduex .education h4{
    font-size: 25px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 10px;
}

#eduex .education h5{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 20px;

}

#eduex .education p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;

}


#eduex .experience{
    max-width: 511px;
    
}

#eduex .experience .ex{
    max-width: 511px;
    max-height: 175px;
    margin-bottom: 30px;
}

#eduex .experience h3{
    font-size: 30px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 30px;
}

#eduex .experience h4{
    font-size: 25px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 10px;
}

#eduex .experience h5{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 20px;

}

#eduex .experience p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;

}
footer{
    max-width: 1600px;
    max-height: 780px;
    background-color: #FFF8F3;
    padding: 130px 230px;
}

.footer-container{
    display: flex;
    gap: 117px;
    justify-content: space-between;
}

.footer-container .social{
    max-width: 562px;
}
.footer-container .social h3{
    font-size: 35px;
    font-weight: 600;
    color: #181818;
    margin-bottom: 18px;
}

.footer-container .social p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
    color: #474747;
}

.footer-container .social a{
    max-width: 24px;
    max-height: 24px;
    cursor: pointer;
    margin-right: 24px;
}

.footer-container .msg h3{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 28px;

}

.footer-container input[type="text"] {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
}

.footer-container input[type="email"] {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
}